/.vscode
/Apache-Solr Project
/api_wahfood_pk_e5c4e_e6c45_1644623999_09be04dad9312fc4a103d4862e728dd3.pfx
/cloud
/cloud-pr.ppk
/CPUUtilization-2021_10_31_15_35_00-2021_11_01_15_25_00-UTC.csv
/desktop.ini
/DNS_Configuration.csv
/docker-compose.yml
/Dockerfile
/Documents - Shortcut.lnk
/ec2-34-230-119-246.compute-1.amazonaws.com.rdp
/Microsoft Teams.lnk
/mysql-connector-java-5.1.42
/mysql-connector-java-5.1.42.zip
/NewConnectionCount-2021_10_19_15_00_00-2021_11_01_15_00_00-UTC.csv
/RequestCount-2021_10_19_15_00_00-2021_11_01_15_00_00-UTC.csv
/SourceTreeSetup-3.4.6.exe
/tealmap.sql
/This PC - Shortcut.lnk
/www_api_wahfood_pk
/www_api_wahfood_pk.zip
/Zoom.lnk